body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(90, 90, 90);
  color: #fff;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  max-width: 500px;
  min-width: 400px;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid #fff
}

.container__title {
  background-color: rgb(29, 19, 31);
  height: 15%;
  width: 100%;
}

.container__todos {
  background-color: rgb(175, 18, 79);
  height: 85%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

h1 {
  margin: 20px;
  font-size: 3rem;
}

.done {
  text-decoration: line-through;
}

.item-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  width: 100%;
  border: none;
}

.item-list__item:hover {
  cursor: pointer;
  transition: all 1s ease;
  background-color: rgb(255, 0, 55);
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: rgb(175, 18, 79);
}

.form__input {
  width: 75%;
  margin: 0 5px 5px;
  padding: 15px;
  background: none;
  border: none;
  color: #ccc;
  border-bottom: 1px solid rgb(181, 177, 177)
}

.item-list__title {
  font-weight: bold;
  margin: 0;
  display: inline-block;
  margin-left: 10px;
  word-wrap: break-word;
}

.item-list__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container__todos::-webkit-scrollbar {
  width:3px;
  height: 8px;
  background-color: #143861;
}

.container__todos::-webkit-scrollbar-thumb {
  background-color: #843465;
  box-shadow: inset 1px 1px 10px #f3faf7;
  border-radius: 2px;
}

.container__todos::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
  
}

.item-list__todo {
  display: flex;
  align-items: center;
}

button {
  background-color: rgb(29, 19, 31);
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

input:active,
input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

button[type="submit"] {
  background-color: rgb(29, 19, 31);
  border: none;
  color: white;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: .8rem;
  width: 25%;
}

button:hover {
  background: rgb(135, 134, 134);
  transition: all .1s linear;
}

.round {
  position: relative;
  display: flex;
}

.round label {
  background-color: #ccc;
  border: 2px solid rgb(29, 19, 31);
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 18px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
  background-color: rgb(255, 51, 157);
  border-color: rgb(29, 19, 31);
}

.round input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

@media (max-width: 550px) {
  .container {
    height: 100vh;
    width: 100vw;
    min-width: 260px;
    border: none;
    border-radius: 0;
  }
}